{% extends "bootstrap/base.html" %}

<link rel="icon" type="image/x-icon" href="{{ url_for('html', filename='static/images/cars_logo.jpg') }}" />

{% block content %}
	<div class="panel panel-default">
		<div class="panel-heading"><h1 style="text-align:center;">{{ title }}</h1></div>
		<div class="panel-body"><h2 style="text-align:center;">{{ subtitle }}</h2></div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<form class="form-inline text-center" name="user_data" action="/" method="POST">
				<label for="provinces">Province:</label>
				<select class="selectpicker form-control" name="provinces">
					{% for prov in provinces %}
						{% if prov == user_province %}
						<option selected=True value="{{ prov }}">{{ prov }}</option>
						{% else %}
						<option value="{{ prov }}">{{ prov }}</option>
						{% endif %}
					{% endfor %}
				</select>
				<label for="brands">Brand:</label>
				<select class="selectpicker form-control" name="brands">
					{% for brand in brands %}
						{% if brand == user_brand %}
						<option selected=True value="{{ brand }}">{{ brand }}</option>
						{% else %}
						<option value="{{ brand }}">{{ brand }}</option>
						{% endif %}
					{% endfor %}
				</select>
				<label for="types">Type:</label>
				<select class="selectpicker form-control" name="types">
					{% for type in types %}
						{% if type == user_type %}
						<option selected=True value="{{ type }}">{{ type }}</option>
						{% else %}
						<option value="{{ type }}">{{ type }}</option>
						{% endif %}
					{% endfor %}
				</select>
				<label for="years">Year:</label>
				<select class="selectpicker form-control" name="years">
					{% for year in years %}
						{% if year == user_year %}
						<option selected=True value="{{ year }}">{{ year }}</option>
						{% else %}
						<option value="{{ year }}">{{ year }}</option>
						{% endif %}
					{% endfor %}
				</select>
				<input type="submit" class="btn btn-primary" name="submit" value="Submit" />
			</form>
		</div>
		{% if res %}
		<div class="panel-body">
			<h3 style="text-align:center;">Results obtained for: <font color="#286090">{{ user_province }}, {{ user_brand }}, {{ user_type }}, {{ user_year }}</font></h3>
		</div>
		{% endif %}
	</div>

	{% if res %}
	<table class="table table-striped">
		<tr>
			<th class="text-center">Car</th>
			<th class="text-center">Brand</th>
			<th class="text-center">Province</th>
			<th class="text-center">Year</th>
			<th class="text-center">Km</th>
			<th class="text-center">Price</th>
			<th class="text-center">Ad link</th>
		</tr>
		{% for adv in res %}
		<tr>
			<td class="text-center">{{ adv[0] }}</td>
			<td class="text-center">{{ adv[1] }}</td>
			<td class="text-center">{{ adv[2] }}</td>
			<td class="text-center">{{ adv[3] }}</td>
			<td class="text-center">{{ adv[4] }}</td>
			<td class="text-center">{{ adv[5] }} €</td>
			<td class="text-center"><a href="{{ adv[6] }}" target="_blank">Link</a></td>
		</tr>
		{% endfor %}
	</table>
	{% endif %}
{% endblock %}
